$primary: #56A3A6;
$secondary: #484538;
$ternary: #a49966;
$quaternary: #848fa5;
$pent: #c14953;
.flex-container{
    display: flex;
    height: 100vh;
}

.row{
    display: flex;
    flex-direction: row;
}
.column{
    display: flex;
    flex-direction: column;
}

.row-100{
    width: 100%;
}
.row-80{
    width: 80%;
}
.row-75{
    width: 75%;
}
